In [1]:
import psycopg2
import pandas as pd

In [2]:
my_database = "chatbot_8n2w"
my_host = "dpg-cp6qaka0si5c73aigcc0-a.frankfurt-postgres.render.com"
my_password = "UmxrGACXMb3Y1jaYLwnuS5zQDUBtXWg6"
my_port = 5432 
my_user = "chatbot_8n2w_user"

In [3]:
HOST = my_host
DATABASE = my_database
USER = my_user
PASSWORD = my_password
PORT = my_port  # Asegúrate de que este valor sea un entero

# Configura la conexión a la base de datos
def get_db_connection():
    return psycopg2.connect(
        host=HOST,
        database=DATABASE,
        user=USER,
        password=PASSWORD,
        port=PORT
    )

In [4]:

try:
  get_db_connection()
  print("Connection successful!")
except Exception as e:
  print("Connection failed:", e)

Connection successful!

In [5]:

crsr = get_db_connection().cursor()

In [6]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [7]:
try:

    # Create a cursor object
    cur = crsr

    # Execute the query to get table names (using information_schema instead of sqlite_master)
    cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public';  -- Modify 'public' if your tables are in a different schema
    """)

    # Fetch all table names as a list of tuples
    table_names = cur.fetchall()

    # Iterate through the list and print table names
    for table_name in table_names:
        print(table_name[0])  # Access the first element (table name) in each tuple

except Exception as e:
    print("Error:", e)
finally:
    # Close the cursor and connection (important to release resources)
    if cur is not None:
        cur.close()
    if get_db_connection() is not None:
        get_db_connection().close()

messages

In [8]:
# Create a cursor object
crsr = get_db_connection().cursor()
cur = crsr

    # Execute the query to get table names (using information_schema instead of sqlite_master)
cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public';  -- Modify 'public' if your tables are in a different schema
    """)

    # Fetch all table names as a list of tuples
table_names = cur.fetchall()

In [9]:
table_names

[('messages',)]

In [10]:
query = '''
SELECT * 
FROM messages
'''

df = sql_query(query)
df

,id,pregunta,respuesta,created_at
0,1,"hola, buenos días",¡Buen día! ¿Cómo puedo ser de ayuda?,2024-05-22 09:06:49.459829
1,2,quiero información sobre los servicios que ofr...,Actualmente contamos con múltiples servicios. ...,2024-05-22 09:07:01.872960
2,3,me interesa la preparación de exámenes,Nuestros servicios de preparación de exámenes ...,2024-05-22 09:07:16.952673
3,4,"sí, quiero más información",Para obtener más detalles sobre cómo participa...,2024-05-22 09:07:28.267988
4,5,hola,¡Hola! ¿Cómo puedo ayudarte hoy?,2024-05-22 09:45:42.105048
...,...,...,...,...
479,486,Donde me puedo ir de campamentos,Ofrecemos una variedad de campamentos para jóv...,2024-05-24 08:35:37.184177
480,487,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:37:01.352275
481,488,hola@,¡Hola! Bienvenido a Beyond Education. ¿Cómo pu...,2024-05-24 08:37:35.168687
482,489,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:43:26.583907
483,490,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:43:34.249835

In [11]:
df.set_index("id",inplace=True)

In [12]:
df

,pregunta,respuesta,created_at
id,,,
1,"hola, buenos días",¡Buen día! ¿Cómo puedo ser de ayuda?,2024-05-22 09:06:49.459829
2,quiero información sobre los servicios que ofr...,Actualmente contamos con múltiples servicios. ...,2024-05-22 09:07:01.872960
3,me interesa la preparación de exámenes,Nuestros servicios de preparación de exámenes ...,2024-05-22 09:07:16.952673
4,"sí, quiero más información",Para obtener más detalles sobre cómo participa...,2024-05-22 09:07:28.267988
5,hola,¡Hola! ¿Cómo puedo ayudarte hoy?,2024-05-22 09:45:42.105048
...,...,...,...
486,Donde me puedo ir de campamentos,Ofrecemos una variedad de campamentos para jóv...,2024-05-24 08:35:37.184177
487,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:37:01.352275
488,hola@,¡Hola! Bienvenido a Beyond Education. ¿Cómo pu...,2024-05-24 08:37:35.168687
489,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:43:26.583907
490,¿Hola?,"Perdona, no tengo clara la pregunta, ¿puedes r...",2024-05-24 08:43:34.249835

In [14]:
df['pregunta'].str.split(" ")

id
1                                  [hola,, buenos, días]
2      [quiero, información, sobre, los, servicios, q...
3          [me, interesa, la, preparación, de, exámenes]
4                        [sí,, quiero, más, información]
5                                                 [hola]
                             ...
486              [Donde, me, puedo, ir, de, campamentos]
487                                             [¿Hola?]
488                                              [hola@]
489                                             [¿Hola?]
490                                             [¿Hola?]
Name: pregunta, Length: 484, dtype: object

In [15]:
lista_palabras = []
for topic in df['pregunta']:
    for palabra in topic.split(" "):
        lista_palabras.append(palabra.lower())

In [16]:
pd.Series(lista_palabras).value_counts()

de          114
en           82
quiero       74
que          66
me           60
           ...
cv            1
voostros      1
edad          1
esto          1
hola@         1
Name: count, Length: 372, dtype: int64

In [18]:
import numpy as np

In [30]:

servicios = len(list(np.where(df['pregunta'].str.contains("servicios")))[0])


df_servicios = pd.DataFrame({'servicios': [servicios]})

df_servicios

   servicios
0         30

In [19]:
asesoramiento = list(np.where(df['pregunta'].str.contains("asesoramiento")))
len(asesoramiento[0])

20

In [20]:
campa = list(np.where(df['pregunta'].str.contains("campamento")))
len(campa[0])

68

In [25]:
voluntariado = list(np.where(df['pregunta'].str.contains("voluntariado")))
len(voluntariado[0])

17

In [28]:
universidades = list(np.where(df['pregunta'].str.contains("universidad")))
len(universidades[0])

10

In [31]:
ingles = list(np.where(df['pregunta'].str.contains("ingles")))
len(ingles[0])

9

In [47]:
contacto = list(np.where(df['pregunta'].str.contains("contacto")))
len(contacto[0])

6

In [13]:
def generar_graficos(df):
    """
    Función para iterar sobre un DataFrame y generar gráficos Plotly.

    Args:
        df (pandas.DataFrame): El DataFrame a procesar.

    Returns:
        None: No se devuelve ningún valor.
    """

    # Recorre las columnas del DataFrame
    for columna in df.columns:
        # Crea un gráfico de dispersión para cada columna
        fig = px.scatter(df, x=columna, y='otra_columna')  # Reemplaza 'otra_columna' con la variable Y deseada

        # Muestra el gráfico en Streamlit
        st.plotly_chart(fig)

In [48]:

data = {'pregunta': ['¿Cuáles son los servicios?', 'Me interesa conocer los servicios.', 'No sé cuáles son los servicios.', 'No necesito servicios.']}
df = pd.DataFrame(data)


servicios_count = len(list(np.where(df['pregunta'].str.contains("servicios", case=False))[0]))
new_data = {'categoria': ['servicios'], 'conteo': [servicios_count]}
new_df = pd.DataFrame(new_data)


def add_category_count(new_df, df, category):
    count = len(list(np.where(df['pregunta'].str.contains(category, case=False))[0]))
    new_row = pd.DataFrame({'categoria': [category], 'conteo': [count]})
    new_df = pd.concat([new_df, new_row], ignore_index=True)
    return new_df


categories = ['información', 'asesoramiento', 'campamento', 'voluntariado', 'universidad', 'orientacion', 'vocacional', 'profesional', 'hijo', 'extranjero', 'verano', 'carrera', 'destino', 'ingles', 'visa', 'beca', 'cv', 'gestion', 'estudiar']

for category in categories:
    new_df = add_category_count(new_df, df, category)

print(new_df)

        categoria  conteo
0       servicios       4
1     información       0
2   asesoramiento       0
3      campamento       0
4    voluntariado       0
5     universidad       0
6     orientacion       0
7      vocacional       0
8     profesional       0
9            hijo       0
10     extranjero       0
11         verano       0
12        carrera       0
13        destino       0
14         ingles       0
15           visa       0
16           beca       0
17             cv       0
18        gestion       0
19       estudiar       0