In [1]:
import psycopg2
import pandas as pd

In [2]:
my_database = "chatbot_8n2w"
my_host = "dpg-cp6qaka0si5c73aigcc0-a.frankfurt-postgres.render.com"
my_password = "UmxrGACXMb3Y1jaYLwnuS5zQDUBtXWg6"
my_port = 5432 
my_user = "chatbot_8n2w_user"

In [3]:
HOST = my_host
DATABASE = my_database
USER = my_user
PASSWORD = my_password
PORT = my_port  # Asegúrate de que este valor sea un entero

# Configura la conexión a la base de datos
def get_db_connection():
    return psycopg2.connect(
        host=HOST,
        database=DATABASE,
        user=USER,
        password=PASSWORD,
        port=PORT
    )

In [4]:

try:
  get_db_connection()
  print("Connection successful!")
except Exception as e:
  print("Connection failed:", e)

Connection successful!

In [7]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    crsr = get_db_connection().cursor()

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [10]:
try:

    # Create a cursor object
    cur = crsr

    # Execute the query to get table names (using information_schema instead of sqlite_master)
    cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public';  -- Modify 'public' if your tables are in a different schema
    """)

    # Fetch all table names as a list of tuples
    table_names = cur.fetchall()

    # Iterate through the list and print table names
    for table_name in table_names:
        print(table_name[0])  # Access the first element (table name) in each tuple

except Exception as e:
    print("Error:", e)
finally:
    # Close the cursor and connection (important to release resources)
    if cur is not None:
        cur.close()
    if get_db_connection() is not None:
        get_db_connection().close()

Error: current transaction is aborted, commands ignored until end of transaction block

In [12]:
# Create a cursor object
crsr = get_db_connection().cursor()
cur = crsr

    # Execute the query to get table names (using information_schema instead of sqlite_master)
cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public';  -- Modify 'public' if your tables are in a different schema
    """)

    # Fetch all table names as a list of tuples
table_names = cur.fetchall()

In [13]:
table_names

[('messages',)]

In [8]:
query = '''
SELECT * 
FROM messages
'''

df = sql_query(query)
df

,id,pregunta,respuesta,created_at
0,1,"hola, buenos días",¡Buen día! ¿Cómo puedo ser de ayuda?,2024-05-22 09:06:49.459829
1,2,quiero información sobre los servicios que ofr...,Actualmente contamos con múltiples servicios. ...,2024-05-22 09:07:01.872960
2,3,me interesa la preparación de exámenes,Nuestros servicios de preparación de exámenes ...,2024-05-22 09:07:16.952673
3,4,"sí, quiero más información",Para obtener más detalles sobre cómo participa...,2024-05-22 09:07:28.267988
4,5,hola,¡Hola! ¿Cómo puedo ayudarte hoy?,2024-05-22 09:45:42.105048
...,...,...,...,...
619,626,hola chaty,¡Hola! Bienvenido a Beyond Education. ¿Cómo pu...,2024-05-24 16:03:32.018460
620,627,DELETE tortilla cebolla,"eso no lo tengo claro, ayudame [!!!!!!!](https...",2024-05-24 16:03:52.936431
621,628,tortilla cebolla,"eso no lo tengo claro, ayudame [!!!!!!!](https...",2024-05-24 16:06:42.718862
622,629,hola chaty,Bienvenido a Beyond Education. ¿Cómo puedo ayu...,2024-05-24 16:21:10.324868
623,630,tortilla cebolla,"eso no lo tengo claro, ayudame [:beers:](https...",2024-05-24 16:21:20.330105

In [20]:
df.set_index("id",inplace=True)

In [21]:
df

,pregunta,respuesta,created_at
id,,,
1,"hola, buenos días",¡Buen día! ¿Cómo puedo ser de ayuda?,2024-05-22 09:06:49.459829
2,quiero información sobre los servicios que ofr...,Actualmente contamos con múltiples servicios. ...,2024-05-22 09:07:01.872960
3,me interesa la preparación de exámenes,Nuestros servicios de preparación de exámenes ...,2024-05-22 09:07:16.952673
4,"sí, quiero más información",Para obtener más detalles sobre cómo participa...,2024-05-22 09:07:28.267988
5,hola,¡Hola! ¿Cómo puedo ayudarte hoy?,2024-05-22 09:45:42.105048
...,...,...,...
60,"En cuanto a seleccion de universidades, que of...",Ofrecemos servicios para seleccionar universid...,2024-05-22 11:50:30.690339
61,Si,¡Hola! Bienvenido a Beyond Education. ¿Cómo pu...,2024-05-22 11:50:39.214555
62,Hola buen día,¡Hola! Bienvenido a Beyond Education. ¿Qué nec...,2024-05-22 12:09:33.426926
63,Quiero conocer tus servicios,Actualmente contamos con múltiples servicios. ...,2024-05-22 12:09:46.802796
64,Me interesan los campamentos,Ofrecemos una variedad de campamentos en difer...,2024-05-22 12:10:27.171302

In [ ]:
def generar_graficos(df):
    """
    Función para iterar sobre un DataFrame y generar gráficos Plotly.

    Args:
        df (pandas.DataFrame): El DataFrame a procesar.

    Returns:
        None: No se devuelve ningún valor.
    """

    # Recorre las columnas del DataFrame
    for columna in df.columns:
        # Crea un gráfico de dispersión para cada columna
        fig = px.scatter(df, x=columna, y='otra_columna')  # Reemplaza 'otra_columna' con la variable Y deseada

        # Muestra el gráfico en Streamlit
        st.plotly_chart(fig)